// Beispielhafte Styles für das TextBaseElement nach dem SUIT Naming Conventions
// Siehe: https://github.com/suitcss/suit/blob/master/doc/naming-conventions.md

.TextBaseElement {
    border: 1px solid gray;
    padding: 2rem;
}

.TextBaseElement-title {
    font-size: 4rem;
}

.TextBaseElement-content {
    font-size: 1rem;
}
